# example: "development" ("development" | "test" | "production")
NODE_ENV=

# example: "dinhericiar"
API_NAME=

# example: "3333"
API_PORT=

# example: "https://my-client-app.com" (url - only constraint | regex - specific constraint | "*" - not constraint)
API_ACCESS_PERMISSION_CLIENT_SIDE=

# example: "dinhericiar-pg-dev-user"
POSTGRES_USERNAME=

# example: "dinhericiar-pg-dev-pass"
POSTGRES_PASSWORD=

# example: "localhost"
POSTGRES_HOSTNAME=

# example: "3334"
POSTGRES_PORT=

# example: "dinhericiar-pg-dev"
POSTGRES_DATABASE=

# example: "d7ba2ccb7cc3a134f2e0b1f0bbed9a5c"
RESEND_API_KEY=

# example: "delivered@resend.dev"
RESEND_EMAIL_SENDER=

# example: "dinhericiar-redis-dev-pass"
REDIS_PASSWORD=

# example: "localhost"
REDIS_HOSTNAME=

# example: "3335"
REDIS_PORT=

# example: "0"
REDIS_DATABASE=